:root {
    --font-color:#373D3F;
}

@media screen and (min-width:851px) {
    html{
        font-size: 62.5%;
    }
.header-container{
    display: flex;
    padding: 1.5rem;
    background: #00284d;
    align-items: center;
}
.header-content{
    width: 79%;
    text-align: center;
    font-size: 1.9rem;
    color: white;
}
.hindi-text{
    font-size: 1.5rem;
}
.donate-link{
    color: var(--font-color)
}
.donate-link:hover{
    text-decoration: none;
}

.button-container{
    display: flex;
}
.volunteer-button-container{
    padding-left: 2rem;
}
.button-donate{
    font-size: 1.5rem;
}
.button-volunteer{
    font-size: 1.5rem;
}
.nav-bar{
    background: #F0FFF3 !important;
}
    
.link-container{
display: flex;
justify-content: space-around !important;
width: 100%;
align-items: center;
height: 6rem;
}
.link{
    color: var(--font-color);
    font-size: 1.7rem !important;
    padding: 1rem 3rem;
}

.drop-down-container>a{
    font-size: 1.7rem !important;
    color: var(--font-color) !important;
    padding: 0.8rem 3rem !important;
}
.drop-down-item{
    font-size: 1.6rem;
}
.link:hover{
   background:linear-gradient(#EBC944, #F26D21);
   border-radius: 2rem;
   color: white;
   text-decoration: none;
}
.drop-down-container>a:hover{
    background:linear-gradient(#EBC944, #F26D21);
    border-radius: 2rem;
    color: white !important;
}
.selected-link{
    background:linear-gradient(#EBC944, #F26D21);
    border-radius: 2rem;
    color: white;
    text-decoration: none; 
}


}




/* ****************************************Tablet View ***************************************/
@media screen and (min-width:451px) and (max-width:850px) {
    html{
        font-size: 55%;
    }
    .header-container{
        display: flex;
        padding: 1.5rem;
        background: #00284d;
        align-items: center;
    }
    .header-content{
        width: 60%;
        text-align: center;
        font-size: 1.9rem;
        color: white;
    }
    .hindi-text{
        font-size: 1.5rem;
    }
    .button-container{
        display: flex;
    }
    .volunteer-button-container{
        padding-left: 2rem;
    }
    .button-donate{
        font-size: 1.5rem;
    }
    .button-volunteer{
        font-size: 1.5rem;
    }
    .nav-bar{
        background: #F0FFF3 !important;
    }
        
    .link-parent{
        margin: 0.5rem;
        padding: 0.5rem;

    }
    .link{
        color: var(--font-color);
        font-size: 1.7rem !important;
        padding-bottom: 1rem !important;
    }
    
    .drop-down-container>a{
        font-size: 1.7rem !important;
        color: var(--font-color) !important;
        /* padding: 0.8rem 3rem !important; */
    }
    .drop-down-item{
        font-size: 1.6rem;
    }
    .link-parent:hover{
       background:linear-gradient(#EBC944, #F26D21);
       color: white;
       text-decoration: none;
    }
    .drop-down-container>a:hover{
        background:linear-gradient(#EBC944, #F26D21);
        color: white !important;
    }
    .mobile-selected{
       background:linear-gradient(#EBC944, #F26D21);        
    }

}




@media screen and (max-width:450px) {
    html{
        font-size: 45%;
    }
    .header-container{
        /* display: flex; */
        padding: 1.5rem;
        background: #00284d;
    }
    .header-content{
        width: 100%;
        text-align: center;
        font-size: 1.9rem;
        color: white;
        padding-bottom: 1.2rem;
    }
    .button-container{
        display: flex;
        justify-content: center;
    }
    .volunteer-button-container{
        padding-left: 2rem;
    }
    .button-donate{
        font-size: 1.5rem;
    }
    .button-volunteer{
        font-size: 1.5rem;
    }
    .nav-bar{
        background: #F0FFF3 !important;
    }
    .link-parent{
        margin: 0.5rem;
        padding: 0.5rem;

    }
    .link{
        color: var(--font-color);
        font-size: 1.7rem !important;
        padding-bottom: 1rem !important;
    }
    
    .drop-down-container>a{
        font-size: 1.7rem !important;
        color: var(--font-color) !important;
        /* padding: 0.8rem 3rem !important; */
    }
    .drop-down-item{
        font-size: 1.6rem;
    }
    .link-parent:hover{
       background:linear-gradient(#EBC944, #F26D21);
       color: white;
       text-decoration: none;
    }
    .drop-down-container>a:hover{
        background:linear-gradient(#EBC944, #F26D21);
        color: white !important;
    }
    .mobile-selected{
       background:linear-gradient(#EBC944, #F26D21);        
    }

}  